@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  /* COLORS */
  --box-color: #121212;
  --background: #121212;
  --surface: #121212;
  --error: #CF6679;
  --primary: #39ace7;
  --secondary: #751D1F;
  --text-color: #FFFFFF;
  /* OPACITY */
  --text-high: 0.87;
  --text-medium: 0.60;
  --text-disabled: 0.38;
}

body {
  background: url("https://cdn.hovia.com/app/uploads/Blue-Illustrated-Landscape-Mountains-Wallpaper-Mural.jpg");
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
  padding: 0px;
  margin: 0px;
}


/* SCROLL BAR */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #2D2D2D;
  transition: background 0.25s ease;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  transition: background 0.25s ease;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 2px;
  transition: background 0.25s ease;
}

#background {
  background: center var(--background);
  width: 100%;
  height: 100%;
  opacity: 0.64;
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  display: flex;
}

#htmlContainer {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}






/* This is when the fun begin */

.contentBox {
  margin: auto;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background: var(--box-color);
}

#mainBox {
  width: 77%;
  height: 95%;
}




/* LEFT CONTAINER */

#leftBox {
  width: 15%;
  min-width: 233px;
  height: 95%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#leftBox h3 {
  font-weight: 200;
  color: var(--text-color);
  opacity: var(--text-medium);
  margin: 0px;
  padding: 0px;
}

#discordStatus {
  float: left;
  margin-left: 10px;
}

#leftBox h2 {
  font-weight: 500;
  font-size: 21px;
  color: var(--text-color);
  opacity: var(--text-high);
  margin: 0px;
  padding: 0px;
}

.online { color: #57F287; }
.npd { color: #ED4245; }
.inactive { color: #FEE75C }
.offline { color: #4e4e4e }

.discordStateMessage {
  font-weight: 700;
  line-height: 10px;
  font-size: 17px;
}

.username {
  color: rgb(182, 195, 255);
  margin: 5px;
  margin-right: auto;
  margin-left: auto;
  font-size: 25px;
}

.avatarContainer {
  justify-content: center;
  margin: 5px;
  margin-right: auto;
  margin-left: auto;
}

.avatar {
  height: 175px;
  width: 175px;
  border-radius: 10px;
}